@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

.body{
    width: 40%;
    margin-left: 404px;
}

.imgContainer{
    margin-right: 150px;
}

.textAbove{
    color: #000000;
    font-family: 'Mulish', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.text{
    color: #7D7987;
    font-family: 'Mulish', sans-serif;
    font-size: 21px;
    font-weight: 300;
}
